<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="headerFragment">
    <div class="nav">
        <div class="gnb">
            <ul>
                <li><a href="#">ADMIN_HOME</a></li>
                <li><a href="#">USER_ADMIN</a></li>
                <li><a href="#">SHOP_ADMIN</a></li>
                <li><a href="#">SHOPING_ADMIN</a></li>
                <li><a href="#">COIN_ADMIN</a></li>
                <li><a href="#">MALL_HOME</a></li>
                <li><a href="#">JOIN</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
        <h1 class="logo"><a href="#"><img th:src="@{/img/menu.png}" alt=""></a></h1>
    </div>
</div>
</html>